name: star
description: A simple app that just displays a star.
publish_to: 'none'

version: 1.0.1+2

environment:
  sdk: '>=3.0.5 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_launcher_icons: ^0.14.4
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

flutter_launcher_icons:
 android: true
 ios: true
 image_path: 'icon.png'
